<p-sidebar
	[(visible)]="isVisible"
	styleClass="shadow-2"
	[style]="{
		height: '90%',
		'margin-top': '6em',
		'margin-left': '1em',
		'border-radius': '0.5em',
		'overflow-y': 'auto'
	}"
>
	<div class="flex justify-content-center">
		<ng-container>
			<p-divider></p-divider>
			@for (module of modules; track $index) {
			<a [routerLink]="module.url" class="url-option">
				<span
					[class]="module.icon"
					style="margin-right: 0.5em; font-size: 1.5rem"
				></span>
				<span class="ml-2">{{ module.name }}</span>
			</a>
			<p-divider></p-divider>
			}
		</ng-container>
	</div>
</p-sidebar>
